{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12 mb-3 mb-sm-0">
  <div class="card mx-2">
    <div class="card-body">
      <img src="{{car.image.url}}" class="card-img-top" alt="..." style="width:50%;" />
      <h1 class="card-title">{{car.name}}</h1>
      <p class="card-text">{{car.description}}</p>
      <p>Available cars of this model: {{car.quantity}} pieces</p>
      <p>Price : {{car.price}}</p>
      <p>
        Brand: {{car.brand}}
      </p>
      {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'purchase_car' car.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Buy Now</button>
        </form>
      {% endif %}
    </div>
  </div>
</div>
<div class="card m-2">
  <h5 class="p-3">Total Comments : {{comments | length}}</h5>
  {% for comment in comments %}
    <div class="card-body border m-2">
      <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
      <p>{{comment.body}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
  <div class="card-body">
      <form method = "post">
        <h1>Add Comment</h1>
        {% csrf_token %}
        {{comment_form | crispy}} 
        <button class="btn btn-warning">Submit</button>
      </form> 
  </div>
</div>
{% comment %} <div class="card m-2">
  <div class="card-body">
      <form method = "post">
        <h1>Add Comment</h1>
        {% csrf_token %}
        {{comment_form | crispy}} 
        <button class="btn btn-warning">Submit</button>
      </form> 
  </div>
</div> {% endcomment %}
{% endblock content %}   